@model IEnumerable<CipaFatecJahu.Models.Mandate>
<nav>
    <form class="nav-search" asp-controller="Documents" asp-action="Search">

        <div class="nav-selects">
            <select class="nav-select" style="width: 45%" name="mandate" id="search-mandate">
                <option value="0" disabled selected>Gestão</option>
                @{
                    foreach (var mandate in Model)
                    {
                        <option value="@mandate.Id">@mandate.StartYear.Year/@mandate.TerminationYear.Year</option>
                    }
                }
            </select>

            <select class="nav-select" style="width: 45%" name="material" id="search-material">
                <option value="0" disabled selected>Material</option>
                <option value="9b927360-b531-4bb9-9e09-1a3093f8507a">ATAS</option>
                <option value="d2f6b9f0-3b1a-4e4e-9b8e-1c3d2a4f7c8b">Curso CIPA</option>
                <option value="3b8d3f2e-1a1c-4e4e-9b8e-1c3d2a4f7c8b">Eleição</option>
                <option value="0a5d3f2e-7b4e-4b8d-8b7e-2c3d3a5f6d9c">Mapa de Risco</option>
                <option value="8c5d3f2e-5b4e-4b8d-8b7e-2c3d3a5f6d9c">Membros</option>
                <option value="9a4d3f2e-6b4e-4b8d-8b7e-2c3d3a5f6d9c">SIPAT</option>
                <option value="7e4c8f2d-9b4e-4b8d-8b7e-2c3d3a5f6d9c">Outros</option>

            </select>
        </div>
        <div class="nav-search-button">
            <button class="button-green" type="submit" id="search-submit"></button>
            <span class="search-alert" id="search-alert">
                <img src="~/img/icon-alert.png" alt="ALERTA!">
                Selecione os campos para continuar!
            </span>
        </div>
    </form>
    <div class="nav-links">
        <img src="~/img/icon-menu.png" id="nav-menu" alt="">
        <div class="nav-container" id="nav-container">
            <div class="nav-link">
                <a class="underline-white" asp-area="" asp-controller="Documents" asp-action="Legislation">Legislação</a>
            </div>
            <div class="nav-link">
                <a class="underline-white" asp-area="" asp-controller="Documents" asp-action="Studies">Estudos</a>
            </div>

            @if (!User.Identity.IsAuthenticated)
            {
                <div class="nav-link last">
                    <a class="underline-white" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                </div>
            }
            else
            {
                <div class="nav-dropdown add-content">
                    <div class="nav-link">
                        <a class="underline-white" href="#">Adicionar</a>
                        <div class="nav-dropdown-content">
                            <a asp-area="" asp-controller="Documents" asp-action="Material">Documentos</a>
                            <a asp-area="" asp-controller="Mandates" asp-action="Create">Gestão</a>
                            <a asp-area="" asp-controller="Documents" asp-action="">Membros da Gestão</a>
                        </div>
                    </div>
                </div>

                var navLinkClass = "nav-link" + (User.IsInRole("Secretário") ? " last" : "");


                <div class="@navLinkClass">
                    <a class="underline-white" href="#">Histórico</a>
                </div>
                @if (User.IsInRole("Administrador"))
                {
                    <div class="nav-link last">
                        <a class="underline-white" asp-area="" asp-controller="Secretaries" asp-action="Index">Secretários</a>
                    </div>
                }
                <div class="nav-link mobile-logout">
                    <a asp-area="" asp-controller="Account" asp-action="Logout" class="underline-white">Logout</a>
                </div>
            }

        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="user-info">
            Olá,&nbsp;<span>
                @if (ViewBag.FirstName != null)
                {
                    @ViewBag.FirstName
                }
                else
                {
                    @User.Identity.Name
                }
            </span>!
            <a asp-area="" asp-controller="Account" asp-action="Logout"></a>
        </div>
    }
</nav>