@using CipaFatecJahu.ViewModel
@model List<DocumentWithUserMandateMaterialViewModel>
<div class="container-title">
    <h1 class="title">@Model[0].Material - @Model[0].Mandate</h1>
</div>
<br />
<table class="table" style="width:60%">
    <thead>
        <tr>
            <th style="width:50px;"></th>
            <th>
                Nome
            </th>
            @if (Model[0].ScheduledDate != null)
            {
                @if (Model[0].Material == "ATAS")
                {
                    <th>
                        Data da Reunião
                    </th>
                }
                else if (Model[0].Material == "Eleição")
                {
                    <th>
                        Data da Eleição
                    </th>
                }
                else
                {
                    <th>
                        Data do Evento
                    </th>
                }
            }
            <th style="width:200px;">
                Adicionado
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="~/@item.Attachment" class="document-view" target="_blank"></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (item.ScheduledDate != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ScheduledDate)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => (item.DocumentCreationDate))
                </td>

            </tr>
        }
    </tbody>
</table>
