@using CipaFatecJahu.ViewModel
@model DocumentWithUserMandateMaterialViewModel
@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Documento</h4>
    <hr />
    <div style="display:flex;flex-direction:column" >
        <div style="display:flex;flex-direction:row">
            @Html.DisplayNameFor(model => model.Name):
            @Html.DisplayFor(model => model.Name)
        </div>
        <div style="display:flex;flex-direction:row">
            @Html.DisplayNameFor(model => model.DocumentCreationDate):
            @Html.DisplayFor(model => model.DocumentCreationDate)
        </div>
        @if (Model.ScheduledDate != null){
            <div style="display:flex;flex-direction:row">
            @Html.DisplayNameFor(model => model.ScheduledDate):
            @Html.DisplayFor(model => model.ScheduledDate)
            </div>
        }
        @if (Model.LawPublication != null){ 
            <div style="display:flex;flex-direction:row">
            
            @Html.DisplayNameFor(model => model.LawPublication):
            @Html.DisplayFor(model => model.LawPublication)
            </div>
        }
        <div style="display:flex;flex-direction:row">
            @Html.DisplayNameFor(model => model.Status):
            @Html.DisplayFor(model => model.Status)
        </div>
        <div style="display:flex;flex-direction:row">
            @Html.DisplayNameFor(model => model.Attachment): 
            <a href="@Url.Content($"~/{Model.Attachment}")" target="_blank">Visualizar PDF</a>  
        </div>
        <div style="display:flex;flex-direction:row">
			@Html.DisplayNameFor(model => model.UserName):
            @Html.DisplayFor(model => model.UserName)
        </div>
        @if (Model.Mandate != null){
            <div style="display:flex;flex-direction:row">
            @Html.DisplayNameFor(model => model.Mandate):
            @Html.DisplayFor(model => model.Mandate)
        </div>
        }
        <div style="display:flex;flex-direction:row">
            @Html.DisplayNameFor(model => model.Material):
            @Html.DisplayFor(model => model.Material)
        </div>
    </div>
</div>
<div>
    <a asp-action="History">Voltar</a>
</div>
