@using CipaFatecJahu.ViewModel
@model DocumentWithUserMandateMaterialViewModel
@{
    ViewData["Title"] = "Detalhes";
}
@section styles {
    <link rel="stylesheet" href="~/css/Documents/details.css" />
}
<section class="mainbody">
    <div class="details-base">
        <div class="button-back">
            <a asp-action="History"><img src="~/img/icon-cross-white.png" /></a>
        </div>
        <div class="details-header">
            <h1>Detalhes</h1>
        </div>
        <div class="details-body">
            @if (Model.Mandate != null)
            {
                <div class="details-name">
                    <span>@Html.DisplayNameFor(model => model.Mandate):</span>
                </div>
                <div class="details-content">
                    @Html.DisplayFor(model => model.Mandate)
                </div>
            }
            <div class="details-name">
                <span>@Html.DisplayNameFor(model => model.Name):</span>
            </div>
            <div class="details-content">
                @Html.DisplayFor(model => model.Name)
            </div>
            <div class="details-name">
                <span>@Html.DisplayNameFor(model => model.Material):</span>
            </div>
            <div class="details-content">
                @Html.DisplayFor(model => model.Material)
            </div>
            @if (Model.Position != null)
            {
                <div class="details-name">
                    <span>@Html.DisplayNameFor(model => model.Position):</span>
                </div>
                <div class="details-content">
                    @Html.DisplayFor(model => model.Position)
                </div>
            }
            <div class="details-name">
                <span>@Html.DisplayNameFor(model => model.DocumentCreationDate):</span>
            </div>
            <div class="details-content">
                @Html.DisplayFor(model => model.DocumentCreationDate)
            </div>
            @if (Model.ScheduledDate != null)
            {
                <div class="details-name">
                    @if (Model.Material == "ATAS")
                    {
                        <span>
                            Data da Reunião:
                        </span>
                    }
                    else if (Model.Material == "Eleição")
                    {
                        <span>
                            Data da Eleição:
                        </span>
                    }
                    else
                    {
                        <span>
                            Data do Evento:
                        </span>
                    }
                </div>
                <div class="details-content">
                    @Html.DisplayFor(model => model.ScheduledDate)
                </div>
            }
            @if (Model.LawPublication != null)
            {
                <div class="details-name">
                    <span>@Html.DisplayNameFor(model => model.LawPublication):</span>
                </div>
                <div class="details-content">
                    @Html.DisplayFor(model => model.LawPublication)
                </div>
            }
            <div class="details-name">
                <span>@Html.DisplayNameFor(model => model.Status):</span>
            </div>
            <div class="details-content">
                @Html.DisplayFor(model => model.Status)
            </div>
            <div class="details-name">
                <span>Anexo:</span>
            </div>
            <div class="details-content">
                <a href="@Url.Content($"~/{Model.Attachment}")" target="_blank">Visualizar</a>
            </div>
            <div class="details-name">
                <span>Adicionado por:</span>
            </div>
            <div class="details-content">
                @Html.DisplayFor(model => model.UserName)
            </div>
        </div>

    </div>
</section>