@using CipaFatecJahu.ViewModel
@model List<DocumentWithUserMandateMaterialViewModel>
@{
    ViewData["Title"] = "Histórico de Documentos";
}
@section Styles {
    <link rel="stylesheet" href="~/css/history.css" />
    <link rel="stylesheet" href="~/css/table.css" />
    <link rel="stylesheet" href="~/css/switch.css" />
}

<div class="container-title">
    <a asp-action="History" asp-controller="Mandates" class="btn-history"><div class="icon-history"></div> Histórico de Gestões</a>
    <h1 class="title">Histórico de Documentos</h1>
    @{
        @if (TempData["message"] != null)
        {
            <div class="alert-green">
                @TempData["message"]
            </div>
            TempData.Remove("message");
        }
    }
    <div class="btn-create-border">
        <a asp-action="Create" class="btn-create">🞢</a>
    </div>
</div>
<form class="filter-base" id="history-search" method="get" asp-action="History">
    <div class="filter-group">
        <select class="nav-select" style="width: 150px" id="history-material" name="material" asp-items="@(new SelectList(ViewBag.Materials, "Value", "Text", ViewBag.MaterialSelected))" onchange="this.filter.submit()">
            <option value="" selected>Todos Materiais</option>
        </select>

        <select class="nav-select" id="history-user" style="width: 180px" name="userId" asp-items="@(new SelectList(ViewBag.UserName, "Value", "Text", ViewBag.UserNameSelected))" ontimeupdate="this.filter.submit()">
            <option value="" selected>Todos os Secretários</option>
        </select>


        <select class="nav-select" id="history-date" style="width: 150px" name="date" onchange="this.filter.submit()">
            <option value="">Qualquer período</option>
            <option value="last_month" selected="@(ViewBag.DateSelected == "last_month" ? "selected" : null)">Últimos 30 dias</option>
            <option value="last_6_months" selected="@(ViewBag.DateSelected == "last_6_months" ? "selected" : null)">Últimos 6 meses</option>
            <option value="last_year" selected="@(ViewBag.DateSelected == "last_year" ? "selected" : null)">Último ano</option>
        </select>
    </div>
</form>
<table class="table" style="width:90%">
    <thead>
        <tr>

            <th style="min-width:40%;">
                Name
            </th>
            <th>
                Adicionado por
            </th>
            <th style="width:100px;">
                Material
            </th>
            <th style="width:165px;">
                Data de Criação
            </th>
            <th style="width:50px;"></th>
            <th style="width:50px;"></th>
            @if (User.IsInRole("Administrador"))
            {
                <th style="width:60px;">

                </th>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.Name
                </td>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.Material
                </td>

                <td>
                    @item.DocumentCreationDate
                </td>

                <td>
                    <a asp-action="Details" class="details" asp-route-id="@item.Id"></a>
                </td>
                <td>
                    <a href="~/@item.Attachment" class="document-view" target="_blank"></a>

                </td>
                @if (User.IsInRole("Administrador"))
                {
                    <td>
                        <label class="switch">
                            <input type="checkbox"
                                   data-id="@item.Id"
                                   data-status="@item.Status"
                            @if (item.Status == "Ativo")
                            {
                                <text>checked</text>
                            }
                            onchange="onStatusChange(this)" />
                            <span class="slider round"></span>
                        </label>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<script>
        $(document).ready(function () {
        $('#history-material').change(function () {
            $('#history-search').submit();
        });
        $('#history-user').change(function () {
            $('#history-search').submit();
        });
        $('#history-date').change(function () {
            $('#history-search').submit();
        });
    });
</script>
@section Scripts {
    <script src="~/js/Documents/history.js" defer></script>

}