@using CipaFatecJahu.ViewModel
@model List<DocumentWithUserMandateMaterialViewModel>
@{
    ViewData["Title"] = "Histórico";
}
@section Styles {
<link rel="stylesheet" href="~/css/Documents/history.css" />
<link rel="stylesheet" href="~/css/table.css" />
<link rel="stylesheet" href="~/css/switch.css" />
}

<div class="container-title">
    <h1 class="title">Histórico</h1>
    @{
        @if (TempData["message"] != null)
        {
            <div class="alert-green">
                @TempData["message"]
            </div>
            TempData.Remove("message");
        }
    }
    <div class="btn-create-border">
        <a asp-action="Create" class="btn-create">🞢</a>
    </div>
</div>
<table class="table" style="width:90%">
    <thead>
        <tr>
            <th>
                Material
            </th>
            <th>
                Name
            </th>
            <th>
                Mandato
            </th>
            <th>
                Anexo
            </th>
            <th>
                Adicionado
            </th>
            <th>
                Secretário
            </th>
            @if (User.IsInRole("Administrador"))
            {
                <th>
                    Status
                </th>
            }
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count == 0)
        {
            <tr> 0 itens encontrados </tr>
        }
        else
        {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Material
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @if (item.Mandate == null)
                    {
                        <text>Nenhum</text>
                    }
                    else
                    {
                        @item.Mandate
                    }
                </td>
                <td>
                    <a href="~/@item.Attachment" target="_blank">Visualizar PDF</a>

                </td>
                <td>
                    @item.DocumentCreationDate
                </td>
                <td>
                    @item.UserName
                </td>
                @if (User.IsInRole("Administrador")){
                    <td>
                        <label class="switch">
                            <input type="checkbox"
                            data-id="@item.Id"
                            data-status="@item.Status"
                            @if (item.Status == "Ativo")
                            {
                                <text>checked</text>
                            }
                            onchange="onStatusChange(this)" />
                            <span class="slider round"></span>
                        </label>
                    </td>
                }
                <td>
                    @if (User.IsInRole("Administrador"))
                    {
                        <a asp-action="AtaEdit" asp-route-id="@item.Id">Editar</a>
                        <span>|</span>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                </td>
            </tr>
        }}
    </tbody>
</table>
@section Scripts {
    <script src="~/js/Documents/history.js"></script>
}