@model IEnumerable<CipaFatecJahu.Models.Document>

@{
    ViewData["Title"] = "Legislação";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Documents/history.css" />
    <link rel="stylesheet" href="~/css/table.css" />
}
<div class="container-title">
    <h1 class="title">Legislação</h1>
</div>
<table class="table" style="width:60%">
    <thead>
        <tr>
            <th style="width:25%">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width:25%">
                @Html.DisplayNameFor(model => model.LawPublication)
            </th>
            <th style="width:25%">
                @Html.DisplayNameFor(model => model.Attachment)
            </th>
            <th style="width:25%">
                Adicionado
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LawPublication)
                </td>
                <td>
                    <a href="~/@item.Attachment" target="_blank">Visualizar PDF</a>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentCreationDate)
                </td>
            </tr>
        }
    </tbody>
</table>
