@using CipaFatecJahu.ViewModel
@model List<MandateWithUser>

@{
    ViewData["Title"] = "Histórico de Gestões";
}
@section Styles {
<link rel="stylesheet" href="~/css/history.css" />
    <link rel="stylesheet" href="~/css/table.css" />
    <link rel="stylesheet" href="~/css/switch.css" />
}

<div class="container-title" style="width:60%">
    <a asp-action="History" asp-controller="Documents" class="btn-history"><div class="icon-history"></div> Histórico de Documentos</a>
    <h1 class="title">Histórico de Gestões</h1>
    @{
        @if (TempData["message"] != null)
        {
            <div class="alert-green">
                @TempData["message"]
            </div>
            TempData.Remove("message");
        }
    }
    <div class="btn-create-border">
        <a asp-action="Create" class="btn-create">🞢</a>
    </div>
</div>
<table class="table" style="width:60%">
    <thead>
        <tr>
            <th style="width:20%">
                Ano de Início
            </th>
            <th style="width:20%">
                Ano de Término
            </th>
            <th style="width:20%">
                Data de Criação
            </th>
            <th style="width:40%">
               Adicionado por
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.StartYear)
                </td>
                <td>
                    @Html.DisplayFor(model => item.TerminationYear)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DocumentCreationDate)
                </td>
                <td>
                    @Html.DisplayFor(model => item.UserName)
                </td>
            </tr>
        }
    </tbody>
</table>